:root {
  --texto-principal: #FFFFFF;
  --texto-secundario: #c0c0c0;
  --botao: #167bf7;
  --botao-ativo: #3c92fa;
   --cor-de-fundo: #00030c;
  --fonte-principal: 'Inter'
}

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--cor-de-fundo);
  color: var(--texto-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url("assets/img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;

}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.container__botao {
  background-color: var(--botao);
  border-radius: 5px;
  padding: 1rem;
  color: var(--texto-principal);
  display: block;
  text-decoration: none;
  margin: 1em;

}

.container__botao:hover{
  background-color: var(--botao-ativo);
  color: var(--cor-de-fundo);
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--texto-principal);
}

.container__aviso {
  font-size: 0.75rem;
  color: var(--texto-secundario);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__caixa {
  margin: 0 6em;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--texto-principal);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--texto-secundario);

}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 2em;
}

.dispositivos__lista {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 5em 0;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;

}

.lista__item {
  font-size: 32px;
  color: var(--texto-principal);

}

.rodape__lista {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 4em 7.5em 2em 7.5em;
}

.rodape {
  text-align: center;
  margin: 1em 7.5em;
}

.lista__link a {
  text-decoration: none;
  font-size: 16px;
  color: var(--texto-principal);
}

.lista__link a:hover {
  color: var(--botao-ativo);
}

.lista__link a:active {
  color: orangered;
}

.rodape__texto {
  padding: 1em 0;
  font-size: 14px;
  color: var(--texto-secundario);
}